@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  @apply bg-background text-text-primary font-inter min-h-screen transition-bg duration-300;
}

html {
  background: #0F1117;
}

* {
  box-sizing: border-box;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}